In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# pd.set_option('display.max_columns')

In [3]:
df = pd.read_csv("data/loan_data_2007_2014.csv")
df.head()

C:\Users\iqbal\AppData\Local\Temp\ipykernel_10488\4100477804.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/loan_data_2007_2014.csv")

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125981 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466264 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

#### Droping feature

In [6]:
df = df.drop(["Unnamed: 0","id","member_id","url","zip_code",
              "open_il_24m","open_il_12m","open_il_6m","open_rv_12m",
              "open_rv_24m","total_bal_il","il_util","max_bal_bc",
              "all_util","inq_fi"],axis=1)
df.head

<bound method NDFrame.head of         loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  \
0            5000         5000           4975.0   36 months     10.65
1            2500         2500           2500.0   60 months     15.27
2            2400         2400           2400.0   36 months     15.96
3           10000        10000          10000.0   36 months     13.49
4            3000         3000           3000.0   60 months     12.69
...           ...          ...              ...         ...       ...
466280      18400        18400          18400.0   60 months     14.47
466281      22000        22000          22000.0   60 months     19.97
466282      20700        20700          20700.0   60 months     16.99
466283       2000         2000           2000.0   36 months      7.90
466284      10000        10000           9975.0   36 months     19.20

        installment grade sub_grade                              emp_title  \
0            162.87     B        B2                                    NaN
1             59.83     C        C4                                  Ryder
2             84.33     C        C5                                    NaN
3            339.31     C        C1                    AIR RESOURCES BOARD
4             67.79     B        B5               University Medical Group
...             ...   ...       ...                                    ...
466280       432.64     C        C2                     Financial Advisor
466281       582.50     D        D5  Chief of Interpretation (Park Ranger)
466282       514.34     D        D1                                 patrol
466283        62.59     A        A4                   Server Engineer Lead
466284       367.58     D        D3                                    NaN

       emp_length  ... dti_joint  verification_status_joint acc_now_delinq  \
0       10+ years  ...       NaN                        NaN            0.0
1        < 1 year  ...       NaN                        NaN            0.0
2       10+ years  ...       NaN                        NaN            0.0
3       10+ years  ...       NaN                        NaN            0.0
4          1 year  ...       NaN                        NaN            0.0
...           ...  ...       ...                        ...            ...
466280    4 years  ...       NaN                        NaN            0.0
466281  10+ years  ...       NaN                        NaN            0.0
466282    7 years  ...       NaN                        NaN            0.0
466283    3 years  ...       NaN                        NaN            0.0
466284  10+ years  ...       NaN                        NaN            0.0

       tot_coll_amt tot_cur_bal open_acc_6m mths_since_rcnt_il  \
0               NaN         NaN         NaN                NaN
1               NaN         NaN         NaN                NaN
2               NaN         NaN         NaN                NaN
3               NaN         NaN         NaN                NaN
4               NaN         NaN         NaN                NaN
...             ...         ...         ...                ...
466280          0.0    294998.0         NaN                NaN
466281          0.0    221830.0         NaN                NaN
466282          0.0     73598.0         NaN                NaN
466283          0.0    591610.0         NaN                NaN
466284          0.0     57477.0         NaN                NaN

       total_rev_hi_lim total_cu_tl inq_last_12m
0                   NaN         NaN          NaN
1                   NaN         NaN          NaN
2                   NaN         NaN          NaN
3                   NaN         NaN          NaN
4                   NaN         NaN          NaN
...                 ...         ...          ...
466280          29900.0         NaN          NaN
466281          39400.0         NaN          NaN
466282          13100.0         NaN          NaN
466283          53100.0         NaN          NaN
466284          16000.0         NaN          NaN

[466285 rows x 60 columns]>

## Data Cleaning and fill nan

In [8]:
cat = df.select_dtypes(exclude=np.number)
cat

,term,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type
0,36 months,B,B2,NaN,10+ years,RENT,Verified,Dec-11,Fully Paid,n,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,AZ,Jan-85,f,Jan-15,NaN,Jan-16,INDIVIDUAL
1,60 months,C,C4,Ryder,< 1 year,RENT,Source Verified,Dec-11,Charged Off,n,Borrower added on 12/22/11 > I plan to use t...,car,bike,GA,Apr-99,f,Apr-13,NaN,Sep-13,INDIVIDUAL
2,36 months,C,C5,NaN,10+ years,RENT,Not Verified,Dec-11,Fully Paid,n,NaN,small_business,real estate business,IL,Nov-01,f,Jun-14,NaN,Jan-16,INDIVIDUAL
3,36 months,C,C1,AIR RESOURCES BOARD,10+ years,RENT,Source Verified,Dec-11,Fully Paid,n,Borrower added on 12/21/11 > to pay for prop...,other,personel,CA,Feb-96,f,Jan-15,NaN,Jan-15,INDIVIDUAL
4,60 months,B,B5,University Medical Group,1 year,RENT,Source Verified,Dec-11,Current,n,Borrower added on 12/21/11 > I plan on combi...,other,Personal,OR,Jan-96,f,Jan-16,Feb-16,Jan-16,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466280,60 months,C,C2,Financial Advisor,4 years,MORTGAGE,Source Verified,Jan-14,Current,n,NaN,debt_consolidation,Debt consolidation,TX,Apr-03,w,Jan-16,Feb-16,Jan-16,INDIVIDUAL
466281,60 months,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,Verified,Jan-14,Charged Off,n,NaN,debt_consolidation,Debt consolidation,TN,Jun-97,f,Dec-14,NaN,Jan-16,INDIVIDUAL
466282,60 months,D,D1,patrol,7 years,MORTGAGE,Verified,Jan-14,Current,n,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,OH,Dec-01,f,Jan-16,Feb-16,Dec-15,INDIVIDUAL
466283,36 months,A,A4,Server Engineer Lead,3 years,OWN,Verified,Jan-14,Fully Paid,n,NaN,credit_card,Credit card refinancing,CA,Feb-03,w,Dec-14,NaN,Apr-15,INDIVIDUAL
466284,36 months,D,D3,NaN,10+ years,MORTGAGE,Verified,Jan-14,Current,n,Borrower added on 12/04/13 > I will like a l...,other,Other,CA,Feb-00,f,Jan-16,Feb-16,Jan-16,INDIVIDUAL